/* Application Fonts and colors */
html {
    height: 100%;
  }    
  
body { 
    background-color: rgb(228, 228, 228);
    position: relative;
    padding-bottom: 8vh;
    padding-top: 1em; 
    margin: 0; 
    min-height: 100%;
}    

button {
    cursor: pointer; 
}

#calendar-page-container {
    position: relative; 
    margin: 0 auto;
    padding-top: 6vh;  
} 
  
.navy-background {
    background-color: rgb(0, 63, 98); 
}    

.navy-text {
    color: rgb(0, 63, 98); 
}

.tan-text {
    color: rgb(126, 83, 4); 
}  

.tan-background {
    background-color: rgb(126, 83, 4); 
} 
 
.header-font {
    font-family: 'Luckiest Guy', cursive;
} 

.content-font {
    font-family: 'Sura', serif;
} 

.grey-background {
    background-color:  rgb(214, 209, 209); 
}

a { 
    color: inherit; 
}


/* Body Styling */

input {
    font-weight: bolder; 
    text-align: center; 
}

.submit-form-special-header {
    font-size: 1.2vw; 
}

/* Navbar */

.navbar {   
    font-size: 1.5vw;
    height: 5.5vh; 
}

#user-header {
    font-size: 3vw; 
}

#user-header:hover {
    color:white;
}

#user-image {
    height: 5vh; 
}

#profile-top-btn {
    height: 5vh;
}

#calendar-top-btn {
    height: 5vh;
} 
 
#profile-top-btn:hover {
    background-color: rgb(126, 83, 4);
} 

#calendar-top-btn:hover {
    background-color: rgb(126, 83, 4);
}

#nav-h1 {
    display: none; 
    font-size: 4vw; 
}


.section-header {
    font-size: 2vw; 
} 

/* Header styling */
 
#top-profile-column {
    height: 15vh; 
    background:white; 
}  

#top-profile-background {
    background-image: url("../images/map-header.jpg");  
    -webkit-filter: blur(2px);
    filter: blur(2px); 
    z-index: 1
} 

#top-profile-content {
    position: relative; 
    bottom: 75%;
    left: 35%; 
    z-index: 2; 
    font-size: 2.5vw; 
}

#top-profile-content h1 {
    font-size: 3vw; 
}
 
/* Main Section */

.content-font-size {
    font-size: 1vw; 
}
  

/* Footer Styling */

footer {
    position: absolute; 
    bottom: 0; 
    height: 8.2vh; 
}

#footer-label {
    font-size: 1.74vw; 
}  

.footer-content {
    font-size: 1vw; 
    color: white; 
} 

/* Media Queries */

@media screen and (max-width: 1440px) {


    .section-header {
        font-size: 2.5vw; 
    }

    #footer-label {
        font-size: 2vw; 
    }

    .content-font-size {
        font-size: 1.2vw; 
    }
      
    
    .footer-content {
        font-size: 1vw; 
    }  

    footer {
        height: 8vh; 
    }

} 

@media screen and (max-width: 992px) {

    .section-header {
        font-size: 3.5vw; 
    }

    #footer-label {
        font-size: 2.5vw; 
    }
    
    .footer-content {
        font-size: 1.5vw; 
    }

    .content-font-size {
        font-size: 2vw; 
    }
      
    footer {
        height: 8vh; 
    }

    #top-profile-content {
        left: 30%; 
    }

}   

@media screen and (max-width: 600px) {
      
    #nav-h1 {
        display: block;
        font-size: 6vw;  
    } 

    #top-profile-content {
        left: 10%; 
        font-size: 5vw; 
    } 

    #top-profile-content h1 {
        font-size: 7vw; 
    } 

    .section-header {
        font-size: 8vw; 
    }

    #footer-label {
        font-size: 4vw; 
    }  

    .footer-content {
        font-size: 3vw; 
    }

    .navbar-nav {
        flex-direction: row; 
        align-items: center;
    }

    #navbarNavAltMarkup { 
        background-color: white; 
        border-radius: 1%;      
    }

    #profile-top-btn, #calendar-top-btn { 
        width: 50%; 
        justify-content: center;
        font-size: 5vw; 
        background-color: rgb(0, 63, 98); 
    }

    .content-font-size {
        font-size: 3vw; 
    }
      

    #user-header {
        font-size: 5vw; 

    }

    #user-header:hover {
        color: rgb(0, 63, 98); 
    }
    
    .navbar-toggler {
        padding: 0; 
    }

    .col-sm-8 {
        width:90%; 
    }

}


